
 <footer class="footer">
<div class="footer-info">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h6><a href="https://digecole.com/about-us">ABOUT US</a></h6>         
            Digecole was conceived with an idea to open the world of Education to one and all with an innovative use of the latest available in the field of software and information technology where one is not constrained by physical limitations of place, time and infrastructure.<br>
            Mon – Fri : 9:30 AM to 6:30 PM<br>
            
            <div class="space30"></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <h6>RECENT NEWS</h6>      
            <ul class="list-5">
              <li>
                <i class="fa fa-caret-right"></i> Growth History
              </li><li>  
               <i class="fa fa-caret-right"></i> Largest Educational Network
              </li><li>  
                <i class="fa fa-caret-right"></i> The Most Successful ERP
              </li><li>  
               <i class="fa fa-caret-right"></i> Training
              </li>
            </ul>
            <div class="space30"></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <h6><a href="https://digecole.com/contact">CONTACT INFO</a></h6>
           4, Lalit Estate, <br>
Saykar Squre, <br>
Balewadi Phata, Baner,<br>
Pune - 411004

            <div class="item-icon">
              <i class="fa fa-phone"></i>
              020-60501222<br>
            </div>
            <div class="item-icon">
              <i class="fa fa-envelope"></i>
              <a href="mailto:contact@digecole.com">contact@digecole.com</a><br>
            </div>
           <!-- <div class="item-icon">
              <i class="fa fa-comment"></i>
              <a href="mailto:chat@riley-template.com">chat@riley-template.com</a><br>
            </div>
			-->
            <div class="space30"></div>
          </div>
          <!--
		  <div class="col-md-3 col-sm-6">
            <h6>FLICKR PHOTOS</h6>
            <div class="flickr">
              <a href="#"><img src="img/flickr/01.jpg" alt=""></a>
              <a href="#"><img src="img/flickr/02.jpg" alt=""></a>
              <a href="#"><img src="img/flickr/03.jpg" alt=""></a> 
              <a href="#"><img src="img/flickr/04.jpg" alt=""></a> 
              <a href="#"><img src="img/flickr/05.jpg" alt=""></a> 
              <a href="#"><img src="img/flickr/06.jpg" alt=""></a> 
            </div>
            <div class="space30"></div>
          </div>
		  -->
        </div>
      </div>
    </div>

    <div class="copyright"> 
      <div class="container">  
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div  class="logo-footer">  
                <!--<img alt="" src="img/logo.png ">-->
            </div>     
          </div>  
          <div class="col-md-8 col-sm-8">
            <div class="copyright-info">
              &copy; 2017. All Rights Reserved. <a href="http://digecole.com" >digecole.com</a>
            </div>
          </div>  
        </div> 
      </div>  
    </div>
    
  </footer> 