 

<app-slider></app-slider>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EMPOWERED OVER 30 MILLION LEARNERS ACROSS 65,000 SCHOOLS IN TWO DECADES.</h1>
    <p class="lead">Digecole is at the forefront of the evolution of education in the 21st century.
As the largest education company in India, Digecole has revolutionized the entire education ecosystem by
creating and making the best use of digital products and online solutions.</p>
  </div>
</div>

 <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/card1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/cad2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/card3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>