

<div class="jumbotron jumbotron-fluid">
  <div class="container">
   <p class="lead">
        Digecole Software Services, ever since its inception is dedicated towards providing educational institutions with best in class educational software solutions for college management. We ensure that our reputed clientele are not solely dependent on physical infrastructure by digitizing the entire institute management system. </p>
		<p class="lead">We offer wide range of ERP for college, which make different aspects of the college management and administration automated, less time consuming and free from manual labor. Along with the best ERP software, we also offer placement assistance, digital library and digital marketing of courses for educational institutions. </p>
		<p class="lead">At Digecole Software Services our trained and extremely professional team members are committed towards delivering high quality services within deadlines. Our continuous efforts have helped us make our mark in the industry and become a reliable brand among our esteemed list of clientele. </p>
		<p class="lead">Our various modules of ERP enable you to handle all the management and operations related activities of the college. All the business processes can be streamlined with the use of this latest and technologically advanced way of managing the institute. </p>
		<p class="lead">The institute management system designed by us for you can be customized as per your specific requirements. It aims to reduce operational time and cost as well as redundancy of data and information. This system helps in lessening the labor intensity and also minimalizes the chances of human error. It makes it quite simple and convenient for the users to handle each and every task and find any information on the database and adds to the efficiency of the entire management process.
   
  </div>
</div>





  <div class="container">
    <div class="row">
      <div class="col-md-8">
      
        <h3>Digecole’s Goals</h3>
		<p>To provide end to end IT services to Academic bodies making their management simplified and efficient.<br>
		To provide various highly useful educational services such as digital library, fresher’s placement platform and digital marketing.<br>
		To bring global educational system on a single platform.</p>


	   <div class="space40"></div>
        
      </div>     
      <div class="col-md-4">
      
        <!-- Client Says -->
        <div class="client-says">
          <div class="client-text">   
            “Even though we were still not a very big college at the time, we realized we didn’t have the enterprise system capabilities we needed to run the institution. We were using a lot of manual tools to run operations, but Purestudy Software Services offered us everything we needed – with many capabilities to grow into as the college grew”
          </div>  
          <div class="client-name">
            <i class="fa fa-quote-right"></i><!--<strong>John Doe</strong>-->, Head of Institution.
          </div>  
        </div> 
        <!-- Client Says End -->
        <div class="space40"></div>
        
      </div> 
    </div>
  </div>